$main-color: blue;

body {
  background-color: $main-color;
}

$main-color: red;

body {
  background-color: $main-color;
}

$main-color: red;

body {
  background-color: $main-color;
}

$main-color: red;

body {
  background-color: $main-color;
}